body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
/* ----------------------------------- */

.full-background {
    position: absolute;
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*margin: 0;*/
    /*padding: 0;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.tab-view-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    opacity: 0.9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ----------------------------------- */

.center-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height for vertical centering */
}

.login-panel {
    width: 350px; /* Adjust width based on your design */
    padding: 20px;
    background-color: #f9f9f9; /* Optional: customize background color */
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
    text-align: center; /* Center-align text inside panel */
}

/* ----------------------------------- */

.pollen-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is spaced evenly */
    align-items: center;
    width: 200px; /* Fixed width to ensure uniformity */
    height: 250px; /* Fixed height for uniform card sizes */
    padding: 15px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

.pollen-title {
    font-size: 1.4em;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 3em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.pollen-index {
    font-size: 0.9em;
    color: #575656;
    margin-top: 10px;
    font-weight: normal;
}

.custom-progress-bar {
    height: 20px; /* Set a specific height */
    border-radius: 10px; /* Rounded corners */
}

.custom-progress-bar .ui-progressbar-value {
    border-radius: 10px; /* Rounded corners for the filled part */
}

.custom-progress-bar.none .ui-progressbar-value {
    background-color: #cccccc !important; /* No pollen */
}
.custom-progress-bar.very-low .ui-progressbar-value {
    background-color: #3cb043 !important; /* Very low pollen */
}
.custom-progress-bar.low .ui-progressbar-value {
    background-color: #ffd700 !important; /* Low pollen */
}
.custom-progress-bar.medium .ui-progressbar-value {
    background-color: #ffa500 !important; /* Medium pollen */
}
.custom-progress-bar.high .ui-progressbar-value {
    background-color: #ed0010 !important; /* High pollen */
}
.custom-progress-bar.very-high .ui-progressbar-value {
    background-color: #7f00ff !important; /* Very high pollen */
}

/* ----------------------------------- */

.custom-sidebar {
    height: 70% !important;
    width: 100% !important;
    background-color: #fff !important;
    bottom: 0 !important;
    overflow: auto;
    padding: 20px;
}

.text-shadow-yellow {
    color: #efe396;
    text-shadow: 1px 1px 2px black;
}
